button, button:visited, button:focus, button:active, button:hover{
    outline:0 none !important;
}
.main-container{
    margin-top: 5%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    grid-row-gap: 40px;
}
.coursesBlockParent{

}
#coursesContainer{
    /*background: blue;*/
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
}
#coursesBlockChild{
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(187, 187, 187, 0.25);
    display: grid;
    grid-template-columns: 44% 56%;
    grid-template-rows: 1fr;
}
.photoPart img{
    width: 100%;
    height: 100%;
}
.titleText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #202020;
    margin-left: 1.2%;
    margin-top: 1%;
    position: absolute;
}
.extraText{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #909090;
    margin-left: 1.2%;
    margin-top: 3%;
    max-height: 14%;
    max-width: 188px;
    width: 12%;
}
.category1{
    background: #FFCE1F;

}
.category2{
    background: #FFCE1F;

}
.category3{
    background:  #557AFF;
}
#category{
    position: relative;
    padding-top: 2%;
    color: #FFFFFF;
    width: 30%;
    height: 13%;
    bottom: 83%;
    /*left: -78.5%;*/
    /*right: 78.6%;*/
}
.categoryText{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
#date{
    font-family: Roboto;
    font-style: normal;
318
 
}
319
 
@media screen and (max-width: 320px) {
320
 
    .footer-courses{
321
 
        margin-top: -20%;
322
 
        height: 400%;
323
 
        /*max-height: 500px;*/
324
 
​
325
 
    }
326
 
    .ceos-container{
327
 
        grid-template-rows: 1fr 1fr;
328
 
        grid-template-columns: 1fr;
329
 
        margin-top: -15%;
330
 
        margin-left: 0.5%;
331
 
        grid-column-gap: 5%;
332
 
        height: 200px;
333
 
    }
334
 
    .ces-says{
335
 
        font-size: 10px;
336
 
        left: 27%;
337
 
        margin-top: -15%;
338
 
        /*margin-bottom: -5%;*/
339
 
    }
340
 
    .ceo-name{
341
 
        font-size: 8px;
342
 
    }
343
 
    .ceo-photo{
344
 
        width: 25%;
345
 
    }
346
 
    .ceo-position{
347
 
        font-size: 6px;
348
 
        line-height: 10px;
349
 
    }
350
 
    .ceo-quote{
351
 
        font-size: 6px;
352
 
        line-height: 10px;
353
 
    }
354
 
    .button-to-courses{
355
 
        /*position: relative;*/
356
 
        height: 2%;
357
 
        border-radius: 2px;
358
 
        margin-top: 0%;
359
 
    }
360
 
    .button-to-courses p{
361
 
        font-size: 5.5px;
362
 
        padding-top: 4%;
363
 
    }
364
 
    .button-up img{
365
 
        width: 72%;
366
 
        margin-left: 2%;
367
 
    }
368
 
    .button-up{
369
 
        margin-top: 2%;
370
 
        width: 4%;
371
318
 
}
319
 
@media screen and (max-width: 320px) {
320
 
    .footer-courses{
321
 
        margin-top: -20%;
322
 
        height: 400%;
323
 
        /*max-height: 500px;*/
324
 
​
325
 
    }
326
 
    .ceos-container{
327
 
        grid-template-rows: 1fr 1fr;
328
 
        grid-template-columns: 1fr;
329
 
        margin-top: -15%;
330
 
        margin-left: 0.5%;
331
 
        grid-column-gap: 5%;
332
 
        height: 200px;
333
 
    }
334
 
    .ces-says{
335
 
        font-size: 10px;
336
 
        left: 27%;
337
 
        margin-top: -15%;
338
 
        /*margin-bottom: -5%;*/
339
 
    }
340
 
    .ceo-name{
341
 
        font-size: 8px;
342
 
    }
343
 
    .ceo-photo{
344
 
        width: 25%;
345
 
    }
346
 
    .ceo-position{
347
 
        font-size: 6px;
348
 
        line-height: 10px;
349
 
    }
350
 
    .ceo-quote{
351
 
        font-size: 6px;
352
 
        line-height: 10px;
353
 
    }
354
 
    .button-to-courses{
355
 
        /*position: relative;*/
356
 
        height: 2%;
357
 
        border-radius: 2px;
358
 
        margin-top: 0%;
359
 
    }
360
 
    .button-to-courses p{
361
 
        font-size: 5.5px;
362
 
        padding-top: 4%;
363
 
    }
364
 
    .button-up img{
365
 
        width: 72%;
366
 
        margin-left: 2%;
367
 
    }
368
 
    .button-up{
369
 
        margin-top: 2%;
370
 
        width: 4%;
371
 
        height: 1.8%;
372
 
        border-radius: 1px;
373
 
    }
374
 
    .square{
375
 
        top: 63%;
376
 
        left: -5%;
377
 
        width: 5%;
378
 
        height: 5.5%;
379
 
    }
380
 
}
381
 
@media screen and (min-width: 1445px){
382
 
    .footer-courses{
383
 
        margin-top: -9%;
384
 
        height: 285%;
385
 
    }

 
        height: 1.8%;
372
 
        border-radius: 1px;
373
 
    }
374
 
    .square{
375
 
        top: 63%;
376
 
        left: -5%;
377
 
        width: 5%;
378
 
        height: 5.5%;
379
 
    }
380
 
}
381
 
@media screen and (min-width: 1445px){
382
 
    .footer-courses{
383
 
        margin-top: -9%;
384
 
        height: 285%;
385
 
    }

    font-weight: bold;
    font-size: 12px;
    color: #32B482;
    margin-left: 8%;
    margin-top: 70%;
}
.spanH6{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #202020;
}
.detailButton{
    width: 10.5%;
    position: absolute;
    height: 33px;
    margin-top: 15%;
    margin-left: 8%;
    color: #ffffff;
    background: #32B482;
    box-shadow: 0 10px 20px rgba(50, 180, 130, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    text-align: center;
}
.detailButton:active{
    box-shadow: 1px 1px 1px 1px black;
}
.sprint{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #202020;
    margin-left: 8%;
    margin-top: -3%;
}
.text{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: 1fr;
}
.h1-team{
    width: 90%;
    margin-left: 5%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}
.p-team{
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #202020;
}
@media screen and (max-width: 1440px){
    .text{
        grid-gap: 15%;
    }
}
@media screen and (max-width: 1024px){
    .main-container{
        margin-top: 3%;
    }
    #coursesBlockChild{
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 13px;
    }
    .extraText{
        font-size: 9.5px;
    }
    .detailButton{
        margin-top: 14.5%;
        font-size: 11px;
        width: 10.5%;
        height: 1.8%;
    }
    #date{
        margin-top: 54%;
        margin-bottom: -51%;
        font-size: 10px;
    }
    .spanH6{
        font-size: 10px;
    }
    #category{
        padding-top: 0;
    }
    .categoryText{
        padding-top: 6%;
        font-size: 9px;
    }
    .sprint{
        margin-top: 55%;
        margin-bottom: -53%;
        font-size: 12px;
    }
    .text{
        margin-top: 3%;
        grid-gap: 4%;
    }
    .h1-team{
        font-size: 20px;
    }
    .p-team{
        font-size: 14px;
    }

}
@media screen and (max-width: 768px){
    .main-container{
        margin-top: 2%;
    }
    #coursesBlockChild{
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 9px;
    }
    .extraText{
        font-size: 8px;
        line-height: 9px;
    }
    .detailButton{
        margin-top: 14.5%;
        font-size: 9px;
        width: 10%;
        height: 1.4%;
    }
    #date{
        margin-top: 75%;
        font-size: 8.5px;
    }
    .spanH6{
        font-size: 8.5px;
    }
    #category{
        padding-top: 0;
        width: 30%;
    }
    .categoryText{
        font-size: 6.5px;
        top: 10%;
        position: relative;
    }
    .sprint{
        margin-top: 53%;
        font-size: 8.5px;
    }
    .text{
        margin-top: 3%;
    }
    .h1-team{
        font-size: 16px;
    }
    .p-team{
        font-size: 11px;
        line-height: 16px;
    }

}



@media screen and (max-width: 425px){
    .main-container{
        margin-top: 3%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 60%;
        margin-left: 20%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 100%;
        grid-template-rows: 100%;
        grid-gap: 1px;
    }
    .titleText{
        font-size: 9px;
        margin-top: 1.5%;
    }
    .extraText{
        font-size: 7px;
        margin-top: 4%;
        width: 25%;
    }
    .detailButton{
        margin-top: 57%;
        margin-bottom: 85% ;
        font-size: 8.5px;
    }
    #date{
        margin-top: 50%;
        font-size: 7px;
    }
    .spanH6{
        font-size: 8px;
    }
    #category{
        bottom: 45%;
        font-size: 7px;
        padding-bottom: 15%;
    }
    .sprint{
        font-size: 8px;
        margin-top: 60%;
    }
    .category1{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category2{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category3{
        position: relative;
        background:  #557AFF;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .text{
        margin-top: 55%;
        margin-left: 18.5%;
    }
    .h1-team{
        font-size: 14px;
    }
    .p-team{
        margin-top: -5%;
        font-size: 8px;
        margin-bottom: 8%;
    }

}
@media screen and (max-width: 375px){
    .main-container{
        margin-top: 3%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 60%;
        margin-left: 20%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 100%;
        grid-template-rows: 100%;
        grid-gap: 1px;
    }
    .titleText{
        font-size: 9px;
        margin-top: 1.5%;
    }
    .extraText{
        font-size: 7px;
        margin-top: 5%;
        width: 25%;
    }
    .detailButton{
        margin-top: 65%;
        margin-bottom: 85% ;
        font-size: 8px;
    }
    #date{
        margin-top: 50%;
        font-size: 7px;
    }
    .spanH6{
        font-size: 8px;
    }
    #category{
        /*bottom: 35%;*/
        top: 5%;
        max-height: 5%;
        font-size: 6.5px;
        padding-bottom: -5px;
        margin-top: 1px;
    }
    .sprint{
        font-size: 8px;
        margin-top: 60%;
    }
    .category1{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category2{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category3{
        position: relative;
        background:  #557AFF;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .text{
        margin-top: 55%;
        margin-left: 18.5%;
    }
    .h1-team{
        font-size: 14px;
    }
    .p-team{
        margin-top: -5%;
        font-size: 8px;
        margin-bottom: 8%;
    }

}
@media screen and (max-width: 320px){
    .main-container{
        margin-top: 3%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 60%;
        margin-left: 20%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 0%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 75%;
        grid-template-rows: 100%;
        grid-gap: 1px;
    }
    .titleText{
        font-size: 7px;
        margin-top: 1.5%;
    }
    .extraText{
        font-size: 6px;
        margin-top: 5%;
        width: 25%;
        line-height: 6px;
    }
    .detailButton{
        margin-top: 65%;
        margin-bottom: 85% ;
        font-size: 6px;
    }
    #date{
        margin-top: 40%;
        font-size: 6px;
    }
    .spanH6{
        font-size: 7px;
    }
    #category{
        /*bottom: 35%;*/
        top: 5%;
        max-height: 3%;
        font-size: 5.5px;
        padding-bottom: -10px;
        margin-top: 1px;
    }
    .sprint{
        font-size: 7px;
        margin-top: 60%;
    }
    .category1{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category2{
        position: relative;
        background: #32B482;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .category3{
        position: relative;
        background:  #557AFF;
        width: 60%;
        height: 15%;
        right: 79%;
        bottom: 40%;
    }
    .text{
        margin-top: 10%;
        margin-left: 15.5%;
    }
    .h1-team{
        font-size: 12px;
    }
    .p-team{
        margin-top: -8%;
        font-size: 7px;
        margin-bottom: 8%;
    }

}
@media screen and (width: 425px){

    #coursesBlockChild{

        height: 115%;
    }
}