button, button:visited, button:focus, button:active, button:hover{
    outline:0 none !important;
}
.main-container{
    margin-top: 5%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    grid-row-gap: 40px;
}
.coursesBlockParent{

}
#coursesContainer{
    /*background: blue;*/
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
}
#coursesBlockChild{
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(187, 187, 187, 0.25);
    display: grid;
    grid-template-columns: 44% 56%;
    grid-template-rows: 1fr;
}
.photoPart img{
    width: 100%;
    height: 100%;
}
.titleText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #202020;
    margin-left: 1.2%;
    margin-top: 1%;
    position: absolute;
}
.extraText{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #909090;
    margin-left: 1.2%;
    margin-top: 3%;
    max-height: 14%;
    max-width: 188px;
    width: 12%;
}
.category1{
    background: #FFCE1F;

}
.category2{
    background: #FFCE1F;

}
.category3{
    background:  #557AFF;
}
#category{
    position: relative;
    padding-top: 2%;
    color: #FFFFFF;
    width: 30%;
    height: 13%;
    bottom: 83%;
    /*left: -78.5%;*/
    /*right: 78.6%;*/
}
.categoryText{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
#date{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #32B482;
    margin-left: 8%;
    margin-top: 70%;
}
.spanH6{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #202020;
}
.detailButton{
    width: 10.5%;
    position: absolute;
    height: 33px;
    margin-top: 15%;
    margin-left: 8%;
    color: #ffffff;
    background: #32B482;
    box-shadow: 0 10px 20px rgba(50, 180, 130, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    text-align: center;
}
.detailButton:active{
    box-shadow: 1px 1px 1px 1px black;
}
.sprint{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #202020;
    margin-left: 8%;
    margin-top: -3%;
}
.text{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: 1fr;
}
.h1-team{
    width: 90%;
    margin-left: 5%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}
.p-team{
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #202020;
}
@media screen and (max-width: 1440px){
    .text{
        grid-gap: 15%;
    }
}
@media screen and (max-width: 1093px){
    .main-container{
        margin-top: 2%;
    }
    #category{
        width: 33%;
        /*font-size: ;*/
    }
    .categoryText{
        font-size: 11px;
    }
    .detailButton{
        font-size: 13.5px;
        height: 29px;
    }
    .titleText{
        font-size: 15px;
    }
    .extraText{
        font-size: 11.4px;
    }
    .text{
        margin-top: 2%;
    }
}
@media screen and (max-width: 1024px){
    .main-container{
        margin-top: 3%;
    }
    #coursesBlockChild{
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 13px;
    }
    .extraText{
        font-size: 9.5px;
    }
    .detailButton{
        margin-top: 14.5%;
        font-size: 11px;
        width: 10.5%;
        height: 1.8%;
    }
    #date{
        margin-top: 54%;
        margin-bottom: -51%;
        font-size: 10px;
    }
    .spanH6{
        font-size: 10px;
    }
    #category{
        padding-top: 0;
    }
    .categoryText{
        padding-top: 6%;
        font-size: 9px;
    }
    .sprint{
        margin-top: 55%;
        margin-bottom: -53%;
        font-size: 12px;
    }
    .text{
        margin-top: 3%;
        grid-gap: 4%;
    }
    .h1-team{
        font-size: 20px;
    }
    .p-team{
        font-size: 14px;
    }

}
@media screen and (max-width: 800px){
    .main-container{
        margin-top: 2%;
    }
    #coursesBlockChild{
        grid-template-rows: 100%;
        grid-gap: 40px;
    }
    .titleText{
        font-size: 9px;
        margin-left: -4%;
    }
    .extraText{
        font-size: 8px;
        margin-left: -4%;

        line-height: 9px;
    }
    .detailButton{
        margin-top: 14.5%;
        font-size: 9px;
        width: 10%;
        height: 1.4%;
    }
    #date{
        margin-top: 75%;
        font-size: 8.5px;
        margin-left: -27%;

    }
    .spanH6{
        font-size: 8.5px;
    }
    #category{
        padding-top: 0;
        width: 30%;
    }
    .categoryText{
        font-size: 6.5px;
        top: 10%;
        position: relative;
    }
    .sprint{
        margin-top: 53%;
        font-size: 8.5px;
        margin-left: -27%;

    }
    .text{
        margin-top: 2%;
        margin-bottom: -2%;
    }
    .h1-team{
        font-size: 16px;
    }
    .p-team{
        font-size: 11px;
        line-height: 16px;
    }

}
@media screen and (max-width: 768px){
    .main-container{
        margin-top: 3%;
    }
    #coursesBlockChild{
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 9px;
    }
    .extraText{
        font-size: 8px;
        line-height: 9px;
    }
    .detailButton{
        margin-top: 14.5%;
        font-size: 9px;
        width: 10%;
        height: 1.4%;
    }
    #date{
        margin-top: 75%;
        font-size: 8.5px;
    }
    .spanH6{
        font-size: 8.5px;
    }
    #category{
        padding-top: 0;
        width: 30%;
    }
    .categoryText{
        font-size: 6.5px;
        top: 10%;
        position: relative;
    }
    .sprint{
        margin-top: 53%;
        font-size: 8.5px;
    }
    .text{
        margin-top: 3%;
    }
    .h1-team{
        font-size: 16px;
    }
    .p-team{
        font-size: 11px;
        line-height: 16px;
    }

}
@media screen and (max-width: 425px){
    .main-container{
        margin-top: 15%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 90%;
        margin-left: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        /*grid-gap: 10%;*/
        grid-gap: -20%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 100%;
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 14px;
        margin-top: 1.5%;
        margin-left: -7%;
    }
    .extraText{
        font-size: 12px;
        margin-top:7%;
        line-height: 14px;
        margin-left: -7%;
        width: 38%;
    }
    .detailButton{
        margin-top: 30%;
        font-size: 11px;
        width: 25%;
        left: 30%;
    }
    #date{
        margin-top: 70%;
        font-size: 11px;
        margin-left: -18%;
        word-spacing: 0;
    }
    .spanH6{
        font-size: 13px;
    }
    #category{
        bottom: 102%;
        margin-left: 5%;
        padding-bottom: 0%;
        padding-top: -9%;
        width: 25%;
    }
    .sprint{
        font-size: 13px;
        margin-top: 55%;
        margin-left: -18%;
    }
    .category1{
        background: #FFCE1F;

    }
    .category2{
        background: #FFCE1F;

    }
    .category3{
        background:  #557AFF;
    }
    .categoryText{
        font-size: 10px;
        margin-left: -5%;
        top: 2%;
    }
    .text{
        margin-top: 5%;
        margin-left: 20%;
    }
    .h1-team{
        font-size: 22px;
        margin-left: 8%;
    }
    .p-team{
        margin-top: -5%;
        font-size: 13px;
        margin-bottom: 12%;
        width: 120%;
        margin-left: -10%;
    }

}
@media screen and (max-width: 375px){
    .main-container{
        margin-top: 12%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 90%;
        margin-left: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 100%;
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 13px;
        margin-top: 1.5%;
        margin-left: -7%;
    }
    .extraText{
        font-size: 11px;
        margin-top:7%;
        line-height: 14px;
        margin-left: -7%;
        width: 36.5%;
    }
    .detailButton{
        margin-top: 30%;
        font-size: 11px;
        width: 25%;
        left: 30%;
    }
    #date{
        margin-top: 75%;
        font-size: 10px;
        margin-left: -18%;
        word-spacing: 0;
    }
    .spanH6{
        font-size: 12px;
    }
    #category{
        bottom: 102%;
        margin-left: 5%;
        padding-bottom: 0%;
        padding-top: -9%;
        width: 25%;
    }
    .sprint{
        font-size: 12px;
        margin-top: 51%;
        margin-left: -18%;
    }
    .category1{
        background: #FFCE1F;

    }
    .category2{
        background: #FFCE1F;

    }
    .category3{
        background:  #557AFF;
    }
    .categoryText{
        font-size: 10px;
        margin-left: -5%;
        top: 2%;
    }
    .text{
        margin-top: 50%;
        margin-left: 20%;
    }
    .h1-team{
        font-size: 22px;
        margin-left: 8%;
    }
    .p-team{
        margin-top: -5%;
        font-size: 13px;
        margin-bottom: 12%;
        width: 120%;
        margin-left: -10%;
    }

}
@media screen and (max-width: 320px){
    .main-container{
        margin-top: 10%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 0;
        width: 100%;
        height: 100%;
    }
    #coursesContainer{
        display: grid;
        width: 90%;
        margin-left: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10%;
    }
    #coursesBlockChild{
        margin-left: 5%;
        margin-top: -10%;
        width: 80%;
        height: 100%;
        grid-template-rows: 100%;
    }
    .titleText{
        font-size: 11px;
        margin-top: 1.5%;
        margin-left: -10%;
    }
    .extraText{
        font-size: 10px;
        margin-top:7%;
        line-height: 12px;
        margin-left: -10%;
        width: 36.5%;
    }
    .detailButton{
        margin-top: 30%;
        font-size: 10px;
        width: 25%;
        left: 30%;
        padding-bottom: 0.5%;
    }
    #date{
        margin-top: 75%;
        font-size: 8.5px;
        margin-left: -24%;
        word-spacing: 0;
    }
    .spanH6{
        font-size: 9.5px;
    }

    .sprint{
        font-size: 10px;
        margin-top: 51%;
        margin-left: -24%;
    }
    .category1{
        background: #FFCE1F;

    }
    .category2{
        background: #FFCE1F;

    }
    .category3{
        background:  #557AFF;
    }
    .categoryText{
        font-size: 8px;
        margin-left: -5%;
        top: 8%;
    }
    #category{
        bottom: 101%;
        margin-left: 5%;
        padding-bottom: 0%;
        padding-top: -9%;
        width: 25%;
    }
    .text{
        margin-top: 55%;
        margin-left: 20%;
    }
    .h1-team{
        font-size: 18px;
        margin-left: 8%;
    }
    .p-team{
        margin-top: -10%;
        font-size: 13px;
        margin-bottom: 15%;
        width: 120%;
        margin-left: -10%;
        line-height: 20px;
    }

}

