.carusel{
    height: 100%;
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.teacher{
    position: relative;
    z-index: 2;
    width: 60%;
    margin-left: 20%;
}
.slick-slider{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    position: relative;
    background: white;
}
.item{
    margin-right: 10%;
    padding-bottom: 15%;
    border: none;
}
.teacherImg{
    border-radius: 50%;
    margin-left: 30%;
    width: 40%;
}
.teacherName{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #202020;
}
.teacherPosition{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: -0%;
    color: #909090;
}
.teacherQuote{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #202020;
}
.rightArrow{
    margin-top: 140%;
    margin-left: 20%;
}
.leftArrow{
    margin-top: 140%;
    margin-left: 20%;
}
.item, .item:visited, .item:focus, .item:active, .item:hover, .item:single-button{
    outline:0 none !important;
    border: none;
}
@media screen and (max-width: 1440px){
    .item{
        padding-top: 20%;
    }
    .leftArrow{
        margin-top: 150%;
    }
    .rightArrow{
        margin-top: 150%;
    }
}
@media screen and (max-width: 1093px){
    .item{
        padding-top: 9%;
        padding-bottom: 5%;
    }
    .leftArrow{
        margin-top: 160%;
    }
    .rightArrow{
        margin-top: 160%;
    }
}
@media screen and (max-width: 1024px){
    .teacherImg{
        width: 30%;
        margin-left: 35%;
        margin-top: -9%;
    }
    .teacherName{
        font-size: 16px;
    }
    .teacherPosition{
        font-size: 12px;
    }
    .teacherQuote{
        font-size: 14px;
    }
    .item{
        padding-top: 20%;
        margin-right: 0;
        padding-bottom: 3%;
    }
    .leftArrow{
        margin-top: 150%;
    }
    .rightArrow{
        margin-top: 150%;
    }

}
@media screen and (max-width: 800px){
    .teacherName{
        font-size: 12px;
    }
    .teacherPosition{
        font-size: 12px;
        margin-bottom: 4%;
        margin-top: -4%;
    }
    .teacherQuote{
        font-size: 11.5px;
    }
    .item{
        padding-bottom: 5%;
    }
    .leftArrow{
        margin-top: 200%;
        height: 15%;
    }
    .rightArrow{
        margin-top: 200%;
        margin-left: 10%;
        height: 15%;
    }
    .carusel{
        /*padding-right: 2%;*/
        margin-top: 5%;
    }
}
@media screen and (max-width: 768px){
    .teacherName{
        font-size: 12px;
    }
    .teacherPosition{
        font-size: 12px;
        margin-bottom: 4%;
        margin-top: -4%;
    }
    .teacherQuote{
        font-size: 11.5px;
    }
    .item{
        padding-bottom: -3%;
    }
    .leftArrow{
        margin-top: 200%;
        height: 15%;
    }
    .rightArrow{
        margin-top: 200%;
        margin-left: 10%;
        height: 15%;
    }
    .carusel{
        /*padding-right: 2%;*/
        margin-top: 5%;
    }
}
@media screen and (max-width: 425px){
    .slick-slider{
        margin-left: 8%;
    }
    .teacherName{
        font-size: 13px;
    }
    .teacherPosition{
        font-size: 12px;
        margin-top: -6%;
        margin-bottom: 0;
    }
    .teacherQuote{
        font-size: 11px;
    }
    .item{
        padding-top: 14%;
    }
    .teacherImg{
        width: 35%;
        margin-left: 33%;
    }
    .leftArrow{
        margin-top: 350%;
        height: 15%;
    }
    .rightArrow{
        margin-top: 350%;
        height: 15%;
        margin-left: -40%;
    }
    .carusel{
        padding-right: 5%;
        height: 40%;
        left: -3%;
        /*margin-top: 5%;*/
    }
}
@media screen and (max-width: 375px){
    .slick-slider{
        margin-top: 5%;
        margin-left: 5%;
        width: 100%;
    }
    .teacherName{
        font-size: 13px;
    }
    .teacherPosition{
        font-size: 12px;
        margin-top: -6%;
        margin-bottom: 0;
    }
    .teacherQuote{
        font-size: 11px;
    }
    .item{
        padding-top: 14%;
    }
    .teacherImg{
        width: 35%;
        margin-left: 33%;
    }
    .leftArrow{
        margin-top: 350%;
        height: 15%;
    }
    .rightArrow{
        margin-top: 350%;
        height: 15%;
        margin-left: -40%;
    }
    .carusel{
        padding-right: 5%;
        height: 40%;
        left: -3%;
        /*margin-top: 5%;*/
    }
}
@media screen and (max-width: 320px){
    .slick-slider{
        margin-top: 5%;
        margin-left: -5%;
        width: 120%;
    }
    .teacherName{
        font-size: 13px;
    }
    .teacherPosition{
        font-size: 12px;
        margin-top: -6%;
        margin-bottom: 0;
    }
    .teacherQuote{
        font-size: 11px;
    }
    .item{
        padding-top: 14%;
    }
    .teacherImg{
        width: 35%;
        margin-left: 33%;
    }
    .leftArrow{
        margin-top: 350%;
        height: 15%;
    }
    .rightArrow{
        margin-top: 350%;
        height: 15%;
        margin-left: -40%;
    }
    .carusel{
        padding-right: 5%;
        height: 40%;
        left: -3%;
        /*margin-top: 5%;*/
    }
}
@media screen and (min-width: 1445px){
    .item{
        padding-top: 15%;
    }
    .leftArrow{
        margin-top: 150%;
    }
    .rightArrow{
        margin-top: 150%;
    }
}