.right-courses-text{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: normal;
    color: #202020;
    /*letter-spacing: -1.3px;*/
    margin-left: 4%;
    margin-top: 5%;
}
.left{
    margin-top: -1%;
}
.left h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #202020;
}
.left span{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;

    color: #32B482;
}
.rectangle{
    /*position: absolute;*/
    width: 3.5%;
    height: 25%;
    background: #32B482;
    float: right;
    margin-right: 3%;
    margin-top: -1%;
}
.intro{
    /*background: black;*/
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.right-courses{
    margin-top: -5.5%;
    width: 105%;
    height: 45% !important;
    background: #FFFFFF;
}
.bottom{
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 20%;
    grid-row-gap: 60%;
    margin-left: 10%;
}
.bottom h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}
.bottom p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #202020;
    width: 105%;
    margin-left: -2.5%;
}
@media screen and (max-width: 1440px){
    .right-courses{
        height: 50%;
    }
    .right-courses-text{
        /*letter-spacing: -1.3px;*/
        margin-left: 4%;
        margin-top: 3.5%;
    }
    .left{
        margin-top: -3%;
    }
}
@media screen and (max-width: 1024px){
    .left h1{
        font-size: 22px;
    }
    .left span{
        font-size: 22px;
    }
    .left{
        margin-top: -3.5%;
    }
    .right-courses-text{
        font-size: 14px;
        padding-top: -2%;
    }
    .right-courses{
        height: 65% !important
    }
    .intro{
        grid-template-rows: 40% 40%;
    }
    .bottom h1{
        margin-bottom: 5%;
        line-height: 20px;
        font-size: 11px;
    }
    .bottom p{
        margin-top: 5%;
        line-height: 20px;
        font-size: 10px;
    }
    .rectangle{
        margin-top: -2%;
    }
}
@media screen and (max-width: 768px){
    .left h1{
        font-size: 18px;
    }
    .left span{
        font-size: 18px;
    }
    .right-courses{
        height: 60%;
    }
    .right-courses-text{
        font-size: 11px;
        margin-left: 3%;
        margin-top: 4%;
    }
    .rectangle{
        height: 30%;
        margin-top: -2%;
    }
    .intro{
        grid-template-rows: 30% 40%;
    }
    .bottom h1{
        margin-bottom: 5%;
        line-height: 15px;
        font-size: 9px;
    }
    .bottom p{
        margin-top: 5%;
        line-height: 13px;
        font-size: 8.5px;
    }
    .bottom{
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 425px){
    .intro{
        width: 100%;
        margin-left: 0;
    }
    .left{
        margin-top: -1.5%;
    }
    .left h1{
        font-size: 16px;
        margin-left: 10%;
    }
    .left span{
        font-size: 16px;
    }
    .right-courses{
        height: 70%;
    }
    .right-courses-text{
        letter-spacing: normal;
        font-size: 9px;
        padding-top: 1%;
    }

    .bottom h1{
        line-height: 12px;
        font-size: 8px;
    }
    .bottom p{
        margin-top: 2%;
        line-height: 12px;
        font-size: 7px;
        margin-bottom: 10%;
    }
    .rectangle{
        background: none;
    }
}
@media screen and (max-width: 375px){
    .intro{
        width: 100%;
        margin-left: -5%;
    }
    .left{
        margin-top: -3.5%;
        margin-left: 5%;
    }
    .left h1{
        font-size: 14px;
        margin-left: 10%;
    }
    .left span{
        font-size: 14px;
    }
    .right-courses{
        height: 60%;
        width: 100%;
    }
    .right-courses-text{
        letter-spacing: normal;
        font-size: 7px;
        padding-bottom: -5%;
    }
    .bottom h1{
        line-height: 12px;
        font-size: 8px;
    }
    .bottom p{
        margin-top: 2%;
        line-height: 12px;
        font-size: 7px;
        margin-bottom: 10%;
    }
    .rectangle{
        background: none;
    }
}
@media screen and (max-width: 320px){
    .intro{
        width: 100%;
        margin-left: -5%;
    }
    .left{
        margin-top: -3.5%;
        margin-left: 5%;
    }
    .left h1{
        font-size: 12px;
        margin-left: 10%;
    }
    .left span{
        font-size: 12px;
    }
    .right-courses{
        height: 60%;
        width: 100%;
    }
    .right-courses-text{
        letter-spacing: normal;
        font-size: 6px;
        padding-bottom: -5%;
    }

    .bottom h1{
        line-height: 12px;
        font-size: 6px;
    }
    .bottom p{
        margin-top: 2%;
        line-height: 12px;
        font-size: 5px;
        margin-bottom: 10%;
    }
    .rectangle{
        background: none;
    }
}
@media screen and (min-width: 1445px){
    .right-courses{
        height: 50%;
    }
    .right-courses-text{
        /*letter-spacing: -1.3px;*/
        margin-left: 4%;
        margin-top: 3.5%;
        padding-top: 1.5%;
    }
    .left{
        margin-top: -3%;
    }
    .rectangle{
        height: 20%;
    }
    .right-courses{
        /*width: 10%;*/
    }
}
@media screen and (max-width: 2560px){
    .rectangle{
        height: 30%;
        margin-top: -3%;
    }
    .right-courses-text{
        /*letter-spacing: -1.3px;*/
        padding-top: 1%;
    }
    .right-courses{
        height: 60%;
    }
}