.right-courses h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: normal;
    color: #202020;
    /*letter-spacing: -1.3px;*/
    margin-left: 4%;
    margin-top: 2.5%;
}
.left{
    margin-top: -4%;
}
.left h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #202020;
}
.left span{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;

    color: #32B482;
}
.rectangle{
    position: absolute;
    width: 2.5%;
    height: 31%;
    background: #32B482;
    top: 57%;
    left: 59%;
}
.intro{
    /*background: black;*/
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.top{
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 40% 10%;*/

}
.right-courses{
    position: absolute;
    width: 52%;
    height: 8%;
    top: 16%;
    left: 48%;
    background: #FFFFFF;
    z-index: 1;
}
.bottom{
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 20%;
    grid-row-gap: 90%;
    margin-left: 10%;
}
.bottom h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}
.bottom p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #202020;
    width: 105%;
    margin-left: -2.5%;
}
@media screen and (max-width: 1024px){
    .left h1{
        font-size: 24px;
    }
    .left span{
        font-size: 24px;
    }
    .right-courses h3{
        font-size: 16px;
    }
    .intro{
        grid-template-rows: 40% 40%;
    }
    .bottom h1{
        margin-bottom: 5%;
        line-height: 20px;
        font-size: 12px;
    }
    .bottom p{
        margin-top: 5%;
        line-height: 20px;
        font-size: 11px;
    }
}
@media screen and (max-width: 768px){
    .left h1{
        font-size: 20px;
    }
    .left span{
        font-size: 20px;
    }
    .right-courses h3{
        font-size: 12px;
        padding-top: 1%;
    }
    .intro{
        grid-template-rows: 30% 40%;
    }
    .bottom h1{
        margin-bottom: 5%;
        line-height: 20px;
        font-size: 10px;
    }
    .bottom p{
        margin-top: 5%;
        line-height: 20px;
        font-size: 9px;
    }
}
@media screen and (max-width: 425px){
    .intro{
        width: 100%;
        margin-left: 0;
    }
    .left h1{
        font-size: 18px;
        margin-left: 10%;
    }
    .left span{
        font-size: 18px;
    }
    .right-courses h3{
        letter-spacing: normal;
        font-size: 10px;
        padding-top: 1%;
    }
    .bottom h1{
        /*margin-bottom: 5%;*/
        margin-top: 5%;
        line-height: 20px;
        font-size: 9px;
    }
    .bottom p{
        margin-top: 8%;
        line-height: 18px;
        font-size: 8px;
        margin-bottom: 10%;
    }
    .rectangle{
        background: none;
    }
}
