.info {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 50px;
}

.info_content {
    display: grid;
    grid-template-columns: 34% 2% 29.5% 2% 16%;
    grid-column-gap: 45px;
}

.info_cubes_content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
}

.info_cubes {
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 145px 145px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-self: start;
}

.info_block:hover {
    text-decoration: none;
    color: #32B482;
}

.info_block {
    display: grid;
    grid-template-columns: 145px;
    grid-template-rows: 145px;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(187, 187, 187, 0.25);
    color: #000;
    border-radius: 4px;
    font-family: Raleway;
}

.info_pad {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 15px;
    justify-items: center;
    align-items: center;
}

.info_block_img {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 70%;
}

.info_img {
    width: 61%;
    justify-self: center;
}

.info_text {
    justify-self: start;
    align-self: end;
}

.info_p {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 13px;
    justify-self: start;
    margin: 0;
}

.info_star {
    margin-top: 192px;
    text-align: center;
}

