.footer-courses{
    background: #202020;
    z-index: 1;
    height: 260%;
    position: relative;
    width: 120%;
    margin-left: -10%;
    margin-top: -11.5%;
    display: flex;
}
.ceos-container{
    position: absolute;
    width: 53%;
    height: 41%;
    top: 40%;
    left: 24%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    grid-gap: 20%;
    text-align: center;
}
.ceos-item{
    position: relative;
}
.ceo-photo{
    border-radius: 50%;
    width: 35%;
}
.ceo-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.ceo-position{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.ceo-quote{
    margin-top: 5%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}
.square{
    background: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 55%;
    left: 6%;
}
.ces-says{
    position: absolute;
    top: 25%;
    left: 43%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
    color: #FFFFFF;
}
.button-to-courses{
    position: absolute;
    left: 45%;
    top: 91.5%;
    width: 10.5%;
    height: 5%;
    background: #32B482;
    box-shadow: 0px 10px 20px rgba(50, 180, 130, 0.25);
    border-radius: 5px;
}
.button-to-courses p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-top: 5%;
    color: #FFFFFF;
}
.button-to-courses:active{
    box-shadow: 1px 1px 1px 1px black;
}
.button-up{
    box-shadow: 0px 10px 20px rgba(50, 180, 130, 0.25);
    position: absolute;
    width: 3.125%;
    height: 6%;
    background: #32B482;
    border-radius: 5px;
    top: 91.5%;
    left: 1.5%;
}
.button-up img{
    position: absolute;
    top: 20%;
    left: 20%;
}
.button-up:active{
    box-shadow: 1px 1px 1px 1px black;
}


@media screen and (max-width: 1440px){
    .footer-courses{
        margin-top: -12.5%;
        width: 100%;
        margin-left: 0;
    }
    .button-to-courses p{
        margin-top: 7%;
    }
    .button-up{
        height: 5%;
        width: 3%;
    }
    .button-up img{
        left: 15%;
    }
    .square{
        top: 45%;
        left: -2%;
    }

}
@media screen and (max-width: 1366px){
    .button-up img{
        left: 12%;
    }
}
@media screen and (max-width: 1280px){
    .footer-courses{
        margin-top: -13.3%;
    }

    .button-up img{
        left: 11%;
    }
}
@media screen and (max-width: 1093px){
    .footer-courses{
        height: 290%;
    }
    .ces-says{
        left: 39%;
    }
    .ceo-position{
        font-size: 13px;
    }
    .square{
        top: 40%;
        left: -6%;
    }
    .button-up img{
        left: 3%;
    }
}
@media screen and (max-width: 1024px) {
    .footer-courses{
        margin-top: -13%;
        height: 275%;
    }
    .ces-says{
        font-size: 16px;
        left: 39%;
    }
    .ceo-name{
        font-size: 16px;
    }
    .ceo-position{
        font-size: 11px;
    }
    .ceo-quote{
        font-size: 16px;
        line-height: 20px;
    }
    .button-to-courses p{
        font-size: 14px;
    }
    .button-up img{
        width: 80%;
        margin-left: 8%;
    }
    .square{
        top: 43%;
        left: -6%;
    }
}
@media screen and (max-width: 800px) {
    .footer-courses{
        margin-top: -12.5%;
        height: 320%;
    }
    .ces-says{
        font-size: 16px;
        left: 37%;
        margin-top: -2%;
    }
    .ceos-container{
        margin-top: -5%;
        width: 65%;
        margin-left: -7%;
    }
    .ceo-name{
        font-size: 16px;
    }
    .ceo-position{
        font-size: 10px;
    }
    .ceo-quote{
        font-size: 16px;
        line-height: 20px;
    }
    .button-to-courses p{
        font-size: 14px;
        padding: 4%;
    }
    .button-up img{
        width: 80%;
        margin-left: 8%;
    }
    .button-up{
        width:4%;
    }
    .square{
        top: 43%;
        left: -6%;
    }
}
@media screen and (max-width: 768px) {
    .footer-courses{
        margin-top: -13%;
        height: 320%;
    }
    .ces-says{
        font-size: 16px;
        left: 36.5%;
        margin-top: -2%;
    }
    .ceos-container{
        margin-top: -5%;
        width: 65%;
        margin-left: -7%;
    }
    .ceo-name{
        font-size: 16px;
    }
    .ceo-position{
        font-size: 10px;
    }
    .ceo-quote{
        font-size: 15px;
        line-height: 20px;
    }
    .button-to-courses p{
        font-size: 14px;
        padding: 3%;
    }
    .button-up img{
        width: 80%;
        margin-left: 8%;
    }
    .button-up{
        width: 4.5%;
    }
    .square{
        top: 43%;
        left: -6%;
    }
}
@media screen and (max-width: 425px) {
    .footer-courses{
        width: 105%;
        margin-top: -25%;
        height: 225%;
    }
    .ceos-container{
        grid-template-columns: 50% 50%;
        margin-top: -3%;
        margin-left: -13%;
        grid-column-gap: 20%;
    }
    .ces-says{
        font-size: 12px;
        left: 29%;
        margin-top: 1%;
    }
    .ceo-name{
        font-size: 11px;
    }
    .ceo-photo{
        width: 50%;
    }
    .ceo-position{
        font-size: 7px;
        line-height: 10px;
    }
    .ceo-quote{
        font-size: 11px;
        line-height: 12px;
    }
    .button-to-courses{
        /*position: relative;*/
        height: 4%;
        margin-top: 2%;
    }
    .button-to-courses p{
        font-size: 7px;
        padding-top: 4%;
    }
    .button-up img{
        width: 72%;
        margin-left: 8%;
    }
    .button-up{
        margin-top: 2%;
        width: 4%;
        height: 3.5%;

    }
    .square{
        top: 57%;
        left: -8%;
        width: 7%;
        height: 5.5%;
    }
}
@media screen and (max-width: 375px) {
    .footer-courses{
        width: 105%;
        margin-top: -28.5%;
        height: 350%;
    }
    .ceos-container{
        grid-template-columns: 1fr;
        grid-template-raws: 1fr 1fr;

        margin-top: -25%;
        margin-left: -5%;
        margin-bottom: 15%;
        grid-row-gap: 0;
    }
    .ces-says{
        font-size: 12px;
        left: 29%;
        margin-top: -10%;
    }
    .ceo-name{
        font-size: 12px;
    }
    .ceo-photo{
        width: 30%;
    }
    .ceo-position{
        font-size: 10px;
        line-height: 10px;
    }
    .ceo-quote{
        font-size: 10px;
        line-height: 14px;
    }
    .button-to-courses{
        height: 3%;
        width: 15%;
        margin-top: 2%;
        left: 43%;
    }
    .button-to-courses p{
        font-size: 7px;
        padding-top: 4%;
    }
    .button-up img{
        width: 72%;
        margin-left: 13%;
    }
    .button-up{
        margin-top: 2%;
        width: 6%;
        height: 3%;

    }
    .square{
        top: 40%;
        left: -2%;
        width: 5%;
        height: 4%;
    }
    #ceos-item2{
        margin-top: -25%;
    }
    #ceos-item2 .square{
        height: 7%;
        top: 62%;
    }
}
@media screen and (max-width: 320px) {
    .footer-courses{
        width: 105%;
        margin-top: -33.5%;
        height: 350%;
    }
    .ceos-container{
        grid-template-columns: 1fr;
        grid-template-raws: 1fr 1fr;
        margin-top: -30%;
        margin-left: -7%;
        margin-bottom: 15%;
        grid-row-gap: 0;
    }
    .ces-says{
        font-size: 12px;
        left: 24%;
        margin-top: -18%;
    }
    .ceo-name{
        font-size: 12px;
    }
    .ceo-photo{
        width: 30%;
    }
    .ceo-position{
        font-size: 9px;
        line-height: 10px;
    }
    .ceo-quote{
        font-size: 9px;
        line-height: 14px;
    }
    .button-to-courses{
        height: 3%;
        width: 20%;
        margin-top: 2%;
        left: 38%;
    }
    .button-to-courses p{
        font-size: 7px;
        padding-top: 2%;
    }
    .button-up img{
        width: 72%;
        margin-left: 12%;
    }
    .button-up{
        margin-top: 2%;
        width: 7%;
        height: 3%;

    }
    .square{
        top: 34%;
        left: -5%;
        width: 5.5%;
        height: 3.5%;
    }
    #ceos-item2{
        margin-top: -40%;
    }
    #ceos-item2 .square{
        height: 6.5%;
        width: 5.5%;
        top: 60%;
    }
}

