
* {
	box-sizing: border-box;
    padding: 0;
    outline: none;
	font-family: Roboto;
}

html,
body,
.wrapper {
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #1f1f24;
}


.wrapper {
	overflow-x: hidden;
	position: relative;
	margin: 0px auto;
	max-width: 1100px;
	display: flex;
	flex-flow: column nowrap;
}


/* Header */
.btn-a {
	text-decoration: none;
	color: white;
}
.btn-a:hover{
	color: black;
}
ul,ol {
	list-style: none;
	padding: 0px;
}

.active {
	background: #32B482 !important;
	box-shadow: 0px 10px 20px rgba(50, 180, 130, 0.25);
	border-radius: 3px;
	color: white !important;
}


/*  main */

.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}


/* info */


.info {
	display: flex;
	padding: 40px 30px 40px 100px;
}

.info .title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: normal;
	text-transform: uppercase;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tags {
	height: 21.12px;
	font-weight: bold;
	font-size: 12.96px;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 100px;
	font-style: italic;
}

.description {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 10px;
	padding-right: 5px;
}


.btn {
	margin: 30px 0px;
	padding: 10px 20px;
	text-align: center;
	font-weight: 800;
	font-family: Raleway;
	font-size: 16px;
	border-radius: 5px;
	color: black;
}

.read-more {
background: linear-gradient(to top, #FFFFFF, #FFFFFF);
box-shadow: 0px 10px 20px rgba(187, 187, 187, 0.25);
border-radius: 5px;
background: linear-gradient(to top, #FFFFFF, #FFFFFF);
box-shadow: 0px 10px 20px rgba(187, 187, 187, 0.25);
border-radius: 5px;
	padding: 10px 25px;
}

.read-more a {
	color: black;
}
.read-more a:hover{
     color: black;
}
/* About-course */

.about-course {
	display: flex;
	flex-flow: column nowrap;
	padding: 40px 30px 40px 100px;
}

.title {
	text-align: center;
	font-family: Raleway;
	font-weight: 900;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}

.about-course .description, .subtitle {
	text-align: center;
}

.subtitle {
	font-size: 18px;
	line-height: 25px;

	text-align: center;
}

.about-course  .stage-plan {
  counter-reset: myCounter;
  padding: 0px;
}

.about-course .stage-plan__item {
	font-weight: 400;
	font-size: 20px;
	color: #32B482;
	margin:  40px 0;
	list-style: none;
	background-color: white;
	box-shadow: 0px 10px 20px rgba(187, 187, 187, 0.25);
	padding-right: 30px;
	margin-left: 60px;
	line-height: 28px;
	padding-left: 10px;
	padding-top: 5px;
}


.about-course  .stage-plan__item::before {
  counter-increment: myCounter;
  content:"." counter(myCounter);
  color: white;
  background: black;
  display: inline-block;
  text-align: center;
  margin: 0px -20px 10px 0px;
  line-height: 40px;
  width: 30px;
  height: 40px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24.6px;
  line-height: 39px;
  position: relative;
  right: 70px;
  top: -5px;
}

.form-course {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	background-color: white;
	overflow-x: hidden;
	position: relative;
	margin: 0px auto;
	max-width: 1900px;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	margin-right: 45px;
}

.block-form {
	display: flex;
	margin-top: 40px;
	text-align: center;
	margin: 40px auto 0 auto;
}

.form-course .form__input {
	width: 400px;
	height: 50px;
	margin-top: 16px;
    padding: 1.1em 1em;
    font-size: 1.125rem;
    /*padding-right: */
    line-height: 1em;
    border: 2px solid #dce0eb;
    color: #9F9F9F;
    outline: none;
    background-color:  #C5C3C3;
    background-position: left 10px;
}

.form-course .title {
	margin-top: 30px;
}
.block-form .btn {
	width: 300px;
	text-align: center;
	margin-left: 45px;
}

.cost-course {
	margin:50px 0 70px 15%;
	width: 250px;
	height: 150px;
    box-shadow: 0px 15px 20px rgba(187, 187, 187, 0.25);
    padding: 0 30px;
	/* Figma
	box-shadow: 0px 15px 20px rgba(187, 187, 187, 0.25);
	*/
}

.cost-course .money {
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	text-align: center;
	margin: 5px;
	color: #32B482;
}

.cost-course .currency {
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	text-align: center;
	margin-top: 5px;
}

.footer-detailed {
	display: flex;
	background: #202020;
	width: 100%;
	height: 150px;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 27px;
	overflow-x: hidden;
	position: relative;
	margin: 0px auto 0 auto;
	max-width: 1900px;

}


.btn-top {
	margin:60px 0px 50px 30px;
	padding: 10px 5px 5px 5px;
	background: #32B482;
	border-radius: 5px;
}
.btn-top__img {
	text-align: center;

}

.neobis_logo_footer-detailed {
	margin: 50px 50px 60px 21%;
}
.neobis_logo_footer-detailed img{
	width: 200px; height: 40px;
}
.neobis_logo_footer-detailed  img{
	 width: 200px;
	 height: 40px;
}

.footer-detailed .our_email {
	width: 250px; /* Ширина блока */
    padding: 10px; /* Поля */
	font-size: 19px;
	line-height: 27px;
    word-wrap: break-word; /* Перенос слов */
     margin: 40px 4% 40px 5%;
}

.footer-detailed .our_tel_number {
	width: 200px; /* Ширина блока */
    padding: 10px; /* Поля */
	font-size: 19px;
	line-height: 27px;
    word-wrap: break-word; /* Перенос слов */
     margin: 40px 0;
}


/* Adaptive layout */

@media (min-width: 650px) and (max-width: 1000px) {


	.main .info {
		display: flex;
		flex-direction: column-reverse;
	}

	.photo-course img {
		margin: 0px auto;
	}

	.info {
		padding:  0px 10px;
		text-align: center;
	}

	.title-detail{
		font-family: Raleway;
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: normal;
		text-transform: uppercase;

		color: #202020;
		/*margin-top: 15%;*/
		/*margin-bottom: 15%;*/
	}

	.description-content {
		margin:0px 20px;
	}

	.description-content .title {
		text-align: center;
	}

	.about-course {
		padding:  0px 20px;
	}
	.description {
		padding-right: 0px;
	}

	.about-course .stage-plan__item {
		margin:  35px 0;
		margin-left: 60px;
		padding: 0px 5px 5px 10px;
	}


	.about-course  .stage-plan__item::before {
	    margin: 0 -35px 5px 0px;
	    line-height: 35px;
	    width: 35px;
	    height: 35px;
		right: 70px;
		top: 0px;
	}



	.cost-course {
	margin: 50px 0 70px 0;
	width: 250px !important;
	}

	.neobis_logo_footer-detailed {
		margin: 50px 0 60px 5%;
	}

	.footer-detailed .our_email {
		margin: 40px 2% 40px 6%;
	}

	.footer-detailed .our_tel_number {
		margin: 40px 1% 40px 0;
	}

}


@media (min-width: 100px) and (max-width: 650px) {

	.main .info {
		display:flex;
		flex-direction: column-reverse;
	}

	.photo-course img {
		width: 90%;
		margin: 0px auto;
		height: 70%;
	}

	.info {
		padding:  0px 20px;
		text-align: center;
	}


	.about-course .stage-plan__item {
		margin:  35px 0;
		margin-left: 60px;
		padding: 0px 5px 5px 10px;
	}


	.about-course  .stage-plan__item::before {
	    margin: 0 -35px 5px 0px;
	    line-height: 35px;
	    width: 35px;
	    height: 35px;
		right: 70px;
		top: 0px;
	}


	.block-form {
		margin-top: 0px;
	}

	.block-form .form {
		margin-right: 0px;
	}
	.form-course {
		margin: 0;
	}

	.description-content .title {
		text-align: center;
	}

	.description {
		padding-right: 0px;
		margin: 15px 0;
	}

	.about-course {
		padding:  0px 20px;
		margin: 10px 0px;
	}

	.block-form {
		display: flex;
		flex-direction: column-reverse;
	}

	.cost-course {
		text-align: center;
		margin:30px auto;
		width: 100%
	}

	.neobis_logo_footer-detailed {
		display: none;
	}

	.form-course .form__input {
		height: 50px;
		width: 100%;
	}

	.block-form .btn {
		width: 100%;
		margin-left: 0;
	}

	.btn-top {
	margin:60px 0px 55px 10px;
	padding: 10px 5px 5px 5px;
	}

	.btn-top img {
		width: 20px;
		height: 20px;
	}

	.footer-detailed .our_email {
     margin: 40px 0px 40px 2%;
     padding: 10px 3px 3px 10px;
	}

	.footer-detailed .our_tel_number {
     margin: 40px 0 40px 0;
	}

	@media (min-width: 400px) and (max-width: 650px) {
		.footer-detailed .our_email {
		    margin: 40px 0px 40px 10%;
	        padding: 10px 3px 3px 10px;
		}

	}
}

.lang-detail {
	display: flex;
   position: absolute;
   top: 750px;
   right: 0;
   margin-right: 3.5%;
}

.lang-detail .btn {
	 border:none;
	 background-color:#E5E5E5;
}

@media (min-width: 100px) and (max-width: 1420px) {
.lang-detail {
	display: none;

}}