* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0;
}
