@font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway-Medium.ttf);
}

a {
    text-decoration: none;
    text-underline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
    text-underline: none !important;
}

.header {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 85%;
    font-family: Raleway;
    font-style: normal;
    margin-top: 20px;
}

.header_ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-self: center stretch;
    align-items: center;
    margin: 0;
}

.header_li {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    margin: 0 10px;
}

.header_link {
    color: #000;
    text-decoration: none;
    text-underline: none;
}

.header_link:hover, .header_li:hover {
    color: #32B482;
    text-decoration: none;
    text-underline: none;
    transition: top 1s ease-out 0.5s;
    cursor: pointer;
}

.header_link:focus, .header_link:active {
    padding: 5px;
    border-radius: 5px;
    background-color: #32b482;
    transition: top 1s ease-out 0.5s;
    color: #fff;
    cursor: pointer;
}

.header_adap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;

}

.header_logo {
    margin: 0;
    order: 1;
}


.header_show {
    display: none;
    outline: none;
    border: 0;
    background: transparent;
    order: 2;
}

.header_show:active, .header_show:focus {
    outline: none;
}

.header_line {
    width: 27px;
    height: 3px;
    background-color: #202020;
}

@media (max-width: 1587px) {

    .block_container {
        width: 1200px !important;
        margin: 0 auto !important;
    }

    .header_ul {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;
    }

}

@media (max-width: 1440px) {

    .block_container {
        width: 1200px !important;
        margin: 0 auto !important;
    }

    .header_ul {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;
    }

}

@media (max-width: 1386px) {

    .block_container {
        width: 980px !important;
        margin: 0 auto !important;
    }

    .header_ul {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;
    }

}

@media (max-width: 1024px) {

    .block_container {
        width: 1024px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 15% 82%;
        grid-row-gap: 30px;
        justify-self: center;
        align-self: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .header_ul {
        display: none;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        justify-items: start;
        justify-self: center;
        -webkit-align-items: center;
        align-self: center;
        align-items: center;
        margin: 0;
    }

    .header_li {
        justify-self: center;
        align-self: center;
        padding: 15px 0;
        margin: 0 10px;
    }

    .header_link {
        font-size: 12px;
        text-align: left;
    }

    .header_img {
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {

    .block_container {
        width: 1000px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 15% 82%;
        grid-row-gap: 30px;
        justify-self: center;
        margin-bottom: 20px;
    }

    .header_ul {
        display: none;
        grid-template-columns: 1.2fr 4fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        justify-items: start;
        -webkit-align-items: center;
        align-items: center;
        margin: 0;
    }

    .header_li {
        justify-self: center;
        padding: 15px 0;
        margin: 0 10px;
    }

    .header_link {
        font-size: 12px;
        text-align: left;
    }

    .header_img {
        margin-left: 25px;
    }

}

@media (max-width: 980px) {

    .block_container {
        width: 980px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        height: 0;
        justify-items: center;
        justify-self: center;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 200px;
    }

    .header_li {
        justify-self: center;
        padding: 15px 0;
    }

    .header_show {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
        margin-right: 0px;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 25px;
    }

}

@media (max-width: 900px) {

    .block_container {
        width: 900px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        height: 0;
        justify-items: center;
        justify-self: center;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 200px;
    }

    .header_li {
        justify-self: center;
        padding: 15px 0;
    }

    .header_show {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
        margin-right: 0px;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 25px;
    }

}

@media (max-width: 768px) {

    .block_container {
        width: 768px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        height: 0;
        justify-items: center;
        justify-self: center;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 200px;
    }

    .header_li {
        justify-self: center;
        padding: 15px 0;
    }

    .header_link {
        font-size: 14px;
    }

    .header_show {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
        margin-right: 25px;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 25px;
    }

}

@media (max-width: 650px) {

    .block_container {
        width: 650px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

}

@media (max-width: 600px) {

    .block_container {
        width: 600px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

}

@media (max-width: 550px) {

    .block_container {
        width: 550px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

}

@media (max-width: 480px) {

    .block_container {
        width: 480px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-row: 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 200px;
        justify-items: center;
        justify-self: center;
    }

    .header_li {
        padding: 15px 0;
    }

    .header_link {
        font-size: 14px;
    }

    .header_show {
        display: grid;
        grid-template-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        margin-right: 25px;
        background-color: #202020;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 25px;
    }

}

@media (max-width: 414px) {

    .block_container {
        width: 414px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

    .header_ul {
        grid-template-columns: 250px;
    }

}

@media (max-width: 412px) {

    .block_container {
        width: 412px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 0px;
    }

    .header_ul {
        grid-template-columns: 250px;
    }

}

@media (max-width: 411px) {

    .block_container {
        width: 411px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

    .header_ul {
        grid-template-columns: 250px;
    }

}

@media (max-width: 375px) {

    .block_container {
        width: 375px !important;
        margin: 0 auto !important;
    }

    .header_line {
        margin-right: 25px;
    }

    .header_ul {
        grid-template-columns: 250px;
    }

}

@media (max-width: 360px) {

    .block_container {
        width: 360px !important;
        margin: 0 auto !important;
    }

    .header_ul {
        grid-template-columns: 250px;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
        margin-right: 25px;
    }

}

@media (max-width: 320px) {

    .block_container {
        width: 320px !important;
        margin: 0 auto !important;
    }

    .header {
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        height: 0;
        justify-items: center;
        justify-self: center;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 220px;
    }

    .header_li {
        justify-self: center;
        padding: 15px 0;
    }

    .header_show {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        margin-right: 25px;
        background-color: #202020;

    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 25px;
    }

}