@font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway-Medium.ttf);
}
body {
    background-color: #F8F8F8;
}
a {
    text-decoration: none;
    text-underline: none;
}

a:hover {
    text-decoration: none !important;
    text-underline: none !important;
}

.header {
    background-color: #F8F8F8;
    display: grid;
    grid-column-gap: 20px;
    grid-template-row: 1fr;
    grid-template-columns: 15% 85%;
    font-family: Raleway;
    font-style: normal;
    padding: 10px 0;
}

.header_ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-row: 1fr;
    justify-items: center;
    grid-column-gap: 20px;
    align-items: center;
    margin: 0;
}

.header_li {
    font-size: 14px;
    font-weight: bold;
    justify-self: center;
    list-style-type: none;
}

.header_link {
    color: #000;
    text-decoration: none;
    text-underline: none;
}

.header_link:hover {
    color: #32B482;
    text-decoration: none;
    text-underline: none;
    transition: top 1s ease-out 0.5s;
}

.header_adap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;

}

.header_logo {
    margin: 0;
    order: 1;
}


.header_show {
    display: none;
    outline: none;
    border: 0;
    background: transparent;
    margin-right: 27px;
    order: 2;
}

.header_show:active, .header_show:focus {
    outline: none;
}

.header_line {
    width: 27px;
    height: 3px;
    background-color: #202020;
}


@media (max-width: 480px) {

    .container {
        width: 480px !important;
        margin: 0 auto
    }

    .header {
        grid-template-row: 1fr 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        opacity: 0;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 200px;
        justify-items: center;
        justify-self: center;
    }

    .header_li {
        padding: 15px 0;
    }

    .header_show {
        display: grid;
        grid-template-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 20px;
    }

}

@media (max-width: 320px) {

    .container {
        width: 320px !important;
        margin: 0 auto;
    }

    .header {
        grid-template-row: 1fr 1fr;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        justify-self: center;
    }

    .header_ul {
        height: 0;
        justify-items: center;
        justify-self: center;
    }

    .header_li {
        padding: 15px 0;
    }

    .header_show {
        display: grid;
        grid-template-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-items: center;
        justify-self: end;
        margin-right: 24px;
    }

    .header_adap {
        display: grid;
    }

    .header_line {
        justify-self: center;
        align-self: center;
        text-align: left;
        margin: 3px 0;
        width: 27px;
        height: 3px;
        background-color: #202020;
    }

    .header_img {
        opacity: 1;
        width: 24px;
        height: 24px;
        margin-left: 31px;
    }

}