@font-face {
    font-family: "Raleway-Bold";
    src: url(../../fonts/Raleway-Black.ttf);
}

.metaphor {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 40px;
}

.metaphor_block {
    display: grid;
    grid-template-columns: 35% 71.3%;
    grid-column-gap: 100px;
}

.metaphor_logo_block {
    justify-self: start;
    align-self: center;
}

.metaphor_logo {
    width: 100%;
    padding-top: 10px;
}

.metaphor_img {
    width: 98%;
    align-self: center;
}

.metaphor_text {
    display: grid;
    grid-template-columns: 72.5% 4%;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.metaphor_p {
    color: #000;
    font-family: Raleway-Bold;
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    margin: 0 !important;
}

.metaphor_cube {
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 18px;
    width: 30px;
    height: 30px;
    background-color: #32B482;
}


@media (max-width: 320px) {

    .container {
        width: 320px !important;
        margin: 0 auto;
    }

    .metaphor {
        margin-top: 0;
        grid-template-columns: 1fr;
    }

    .metaphor_block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        padding-left: 20px;
        margin-left: 15px;
    }

    .metaphor_logo_block {
        align-self: start;
    }

    .metaphor_text {
        grid-template-rows: 80%;
        grid-template-columns: 90.5% .5%;
        justify-self: center;
        justify-items: center;
        padding: 0px;
    }

    .metaphor_img {
        width: 50%;
    }

    .metaphor_p {

        text-align: left;
        font-size: 14.2px;
        justify-self: center;
    }

    .metaphor_cube {
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
        margin-right: 13px;
    }

}