.footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    align-self: center;
}

.footer_content {
    display: grid;
    grid-template-columns: 88% 5%;
    grid-template-rows: 1fr;
}

.footer_block{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    background-color: #fff;
    border-radius: 5px;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px;
}

.footer_link {
    display: flex;
    flex-direction: row;
    width: 94%;
    text-decoration: none;
    text-underline: none;
}

.footer_link, .footer_p:hover {
    color: #32B482;
    text-decoration: none;
    text-underline: none;
}

.footer_img {
    width: 5px;
    height: 10px;
    margin-right: 10px;
}

.footer_p {
    font-size: 15px;
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    color: #282c34;
    margin: 0;
    margin-top: 3px;
}