@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    background: #E5E5E5;
}

/* BLOG  */
#blog-container {
    height: 100%;
    max-width: 1200px;
    padding: auto;
    margin: auto;
    text-align: center;
}

/* POST */
.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;

}
.post {
    height: 300px;

    width: 330px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(187, 187, 187, 0.1);
}

.post-image {
    width: 330px;
    height: 150px;
}

.post-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #3E3E3E;
}

/* author part */
.other-info {
    align-self: flex-end;
}

.post-date-pub {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    color: #909090;
}

.author {

}

.author-avatar {
    height: 42px;
    width: 42px;
    border-radius: 40px;
}

.author-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #141414;
}

/* blog part */
.main-title-container {
    display: flex;
    margin-bottom: 183px;
}

.blog-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;

    color: #202020;
}

.news {
    width: 1015px;
    height: 100px;
    background: #FFFFFF;
    float: right;
    align-items: center;
    align-self: center;
}

.news h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
    color: #202020;
    margin: 30px;
}

.neobis {
    color: #32B482;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
}
