ul {
    margin: 0;
}

.beatyEL {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
}

.beatyEl_content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-self: center;
}

.beatyEL_block1 {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-bottom: 64px;
}

.beatyEL_block2 {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 64px;
}

.beatyEl_ul {
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .2fr;
    grid-template-columns: 4px 4px 4px 4px 4px 4px 4px 4px;
    grid-column-gap: 15px;
    justify-items: center;
    justify-self: center;

}

.beatyEl_li {
    display: inline-grid;
    width: 4px;
    height: 4px;
    background-color: #E3E3E3;
    border-radius: 50%;
    margin: 0;
}

.beatyEl_yel {
    width: 165px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #FFCF27;
    box-shadow: 0px 10px 20px rgba(255, 207, 39, 0.25);
    margin-bottom: 30px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.beatyEl_gre {
    width: 165px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #32B482;
    box-shadow: 0px 10px 20px rgba(50, 180, 130, 0.25);
    font-size: 14px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 1024px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        margin-bottom: 30px;
    }

    .beatyEL_block2 {
        margin-top: 30px;
    }

    .beatyEl_yel {
        width: 150px;
        height: 45px;
    }

    .beatyEl_gre {
        width: 150px;
        height: 45px;
    }


}

@media (max-width: 1024px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        margin-bottom: 30px;
    }

    .beatyEL_block2 {
        margin-top: 30px;
    }

    .beatyEl_yel {
        width: 145px;
        height: 40px;
    }

    .beatyEl_gre {
        width: 145px;
        height: 40px;
    }


}

@media (max-width: 968px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 860px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 768px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-top: 30px;
        margin-bottom: 0;
    }

}

@media (max-width: 600px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 550px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 480px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 414px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 412px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
    }

}

@media (max-width: 411px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-top: 30px;
        margin-bottom: 0;
    }

}

@media (max-width: 375px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
        margin-top: 30px;
    }

}

@media (max-width: 361px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
        margin-top: 30px;
    }
}

@media (max-width: 320px) {

    .beatyEl_content {
        display: grid;
        grid-template-rows: 1fr 1fr 0fr;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-self: center;
    }

    .beatyEl_content {
        grid-template-rows: 1fr 1fr;
    }

    .beatyEL_block {
        text-align: center;
    }

    .beatyEL_block1 {
        display: none;
    }

    .beatyEL_block2 {
        margin-bottom: 0;
        margin-top: 30px;
    }

}
